.login_area {
  background: $primary-color;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 2rem;
    }

    a {
      cursor: pointer;
      background: #fff;
      border-radius: 8px;
      padding: 1rem;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        margin-right: 10px;
        position: relative;
      }

      color: #333;
      text-decoration: none;
      line-height: -50%;
    }
  }
}
