.messages {
  height: 80vh;
  padding: 1rem;
  list-style: none;
  overflow-y: auto;
  border-bottom: 4px solid $primary-color;

  @media screen and (max-width: 500px) {
    height: 84vh;
  }

  li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

    p {
      padding: 12px;
      color: #fff;
      border-radius: 1.5rem;
      background: $secondary-color;
    }
  }
}
