$primary-color: #121212;
$secondary-color: rgba(255, 255, 255, 0.05);

// global style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: $primary-color;
}

.App {
  height: 100vh;
  width: 100%;
}

@import "home";
@import "header";
@import "messages";
@import "form";
