.chat__box {
  background: #fff;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 28px 5px rgba(0, 0, 0, 0.145);
}

.chat__header {
  flex: 1;
  background: #304d6d;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

.chat__header img {
  margin-right: 10px;
  border-radius: 50%;
  width: 15%;
}

.chat__messages {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  overflow-y: auto;
}

.chat__messages .chat__message {
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  padding: 10px;
  font-size: small;
  width: fit-content;
}

.chat__message p {
  color: #fff;
  background: #545e75;
  width: fit-content;
  padding: 10px;
  border-radius: 7.5px;
}

.chat__messages .chat__message img {
  width: 15%;
  border-radius: 50%;
  margin-right: 12px;
}

.chat__input input {
  padding: 12px 16px;
  border-radius: 7.5px;
  border: none;
}

.chat__input button {
  background: #304d6d;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 7.5px;
  padding: 0.5rem 1rem;
}

.chat__input {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .chat__box {
    height: 100vh;
    width: 100vw;
  }

  .chat__header {
    flex: 0.3;
    padding: 10px;
  }

  .chat__header img {
    width: 10%;
  }

  .chat__messages {
    flex: 3;
    min-height: 600px;
  }

  form input {
    width: 90%;
  }

  form button {
    width: 10%;
  }
}
